*{
  margin: 0;
  padding: 0;
}
.App {
  
  height: 100vh;

justify-content: center;
 
  
}
.inputs{
  height: 400px;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  
}
.inputs input{
  width: 200px;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
  margin: 10px;

}
button{
  border: none;
  width: 100px;
  height: 30px;
  
  background-color: rgb(12, 110, 77);
  color: rgb(240, 254, 255);
}
.list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.listcontiner{
  display: flex;
  margin: 10px;
}
.listitem{
  
  height: 60px;
  width: 500px;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  background-color: rgb(7, 91, 63);
  
}
.listitem h3{
  margin: 20px;
}
.btn{
  height: 60px;
  width: 60px;
  border:black solid 3px;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
button:hover{
  cursor:pointer;
}